
    .cinzel-decorative-regular {
        font-family: "Cinzel Decorative", serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .cinzel-decorative-bold {
        font-family: "Cinzel Decorative", serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .cinzel-decorative-black {
        font-family: "Cinzel Decorative", serif;
        font-weight: 900;
        font-style: normal;
      }

      .poiret-one-regular {
        font-family: "Poiret One", serif;
        font-weight: 400;
        font-style: normal;
      }
      .montserrat {
        font-family: "Montserrat", serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
      }
      .imperial-script-regular {
        font-family: "Imperial Script", cursive;
        font-weight: 400;
        font-style: normal;
      }

    
      .navbar-toggler {
        margin-left: auto;
      }
      .nav-item{
        font-family: "Cinzel Decorative", serif;
        font-weight: 400;
        font-style: normal;
  
      }
      .nav-item:hover{
          background-color: rgb(211, 194, 194);
          border-radius: 5px; 
      }

      .form-inline{
        font-size: 12px;
        font-family: "Montserrat", serif;
        padding: 6px; 
      }
      
      p{
        text-align: center;
        text-align: justify;
        padding: 5px;
      }
      h1{
        font-size: 90PX;
        margin-top: 130px;
      }
      @media (min-width: 376px) and (max-width: 1400px){
        h1 {
          margin-top: 190px;
        }
      }

      h1, h2, h3{
        text-align:center;
        color: rgba(70, 35, 3, 0.774);
      
      }
      a{text-decoration: none;
        color: rgba(70, 35, 3, 0.774);}

      .First_letter::first-letter {
        font-family: "Imperial Script", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 50px;
        color: rgb(175, 116, 40);
        margin-right: 0.6rem;
        float: left;
        line-height: 0.5;
        
    }
    .card{
      overflow: hidden;
      
      
      
    }
    .card img{
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .carousel img{
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
/* FAQ */

.accordion-item{
  width: 65%;
  text-align: center;
  background-color: rgb(252, 252, 252);
  display: inline-flex;
  flex-direction: column;
  margin-top: 16px;
 
}
    .accordion-button {
      background-color: transparent; 
      color: rgb(85, 77, 66);
      font-weight: 400;
      font-family:"Montserrat", serif;
      border: 1px solid #cdd4db;
      
  }
  
  .accordion-button:focus {
      box-shadow: none; /* Rimuove l'outline quando si fa clic */
  }

  .accordion-button:hover {
    background-color: rgb(211, 194, 194);
    color:rgb(53, 41, 26)
  }
  .accordion-body {
      background-color: transparent; 
      font-size: 14px;
      width: 1000px;
    
      
  }
  h3{
    margin-top: 10px;
    text-align: left;
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
  }
